<div class="container mt-5">
  <h2 class="mb-4">Event Registrations</h2>


  <div class="mb-4">
    <button mat-raised-button color="accent" class="btn btn-outline-primary" routerLink="/admin/events">
      <mat-icon>arrow_back</mat-icon> Return to events
    </button>
  </div>

  <table mat-table [dataSource]="registrations" class="table table-hover">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let registration"> {{ registration.username }} </td>
    </ng-container>

    <ng-container matColumnDef="eventName">
      <th mat-header-cell *matHeaderCellDef> Event Name </th>
      <td mat-cell *matCellDef="let registration"> {{ registration.nameEvent }} </td>
    </ng-container>

    <ng-container matColumnDef="confirmed">
      <th mat-header-cell *matHeaderCellDef> Confirmed </th>
      <td mat-cell *matCellDef="let registration">
        <mat-icon *ngIf="registration.isConfirmed" class="text-success">check_circle</mat-icon>
        <mat-icon *ngIf="!registration.isConfirmed" class="text-danger">cancel</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let registration">
        <button mat-raised-button
                [color]="registration.isConfirmed ? 'warn' : 'primary'"
                (click)="registration.isConfirmed ? cancelRegistration(registration) : confirmRegistration(registration)">
          {{ registration.isConfirmed ? 'Cancel' : 'Confirm' }}
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
