.container {
  background-color: #f9f9f9;
  padding: 20px;
}


.btn-add {
  color: white;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-add:hover {
  background-color: blue;
}

.btn-search {
  background-color: #a3b2bc;
  color: white;
  border-radius: 4px;
  margin-left: 10px;
}

.btn-search:hover {
  background-color: #585b5e;
}

.btn-show-all {
  background-color: #ffc107;
  color: black;
  border-radius: 4px;
  margin-left: 10px;
}

.btn-show-all:hover {
  background-color: #ffca28;
}

.btn-view-reservations {
  color: white;
}

.btn-view-reservations:hover {
  background-color: #294040;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 12px;
  text-align: center;
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0;
}

th {
  background-color: #eaeaea;
  font-weight: 600;
  color: #555555;
}

.event-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
}


@media (max-width: 768px) {
  .btn-add, .btn-search, .btn-show-all {
    width: 100%;
    margin-top: 10px;
  }

  .space-image {
    width: 30px;
    height: 30px;
  }
}
