<h2>Détails de l'abonnement</h2>
<table mat-table [dataSource]="subscriptions" class="mat-elevation-z8">
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let subscription"> {{subscription.type}} </td>
  </ng-container>

  <ng-container matColumnDef="startDate">
    <th mat-header-cell *matHeaderCellDef> Date de début </th>
    <td mat-cell *matCellDef="let subscription"> {{subscription.start_date | date:'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="endDate">
    <th mat-header-cell *matHeaderCellDef> Date de fin </th>
    <td mat-cell *matCellDef="let subscription"> {{subscription.end_date | date:'dd/MM/yyyy'}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Statut </th>
    <td mat-cell *matCellDef="let subscription">
      <mat-icon *ngIf="subscription.isConfirmed" color="primary" matTooltip="Confirmé">check_circle</mat-icon>
      <mat-icon *ngIf="!subscription.isConfirmed" color="warn" matTooltip="En attente">schedule</mat-icon>
    </td>
  </ng-container>

  <ng-container matColumnDef="notification">
    <th mat-header-cell *matHeaderCellDef> Notification </th>
    <td mat-cell  *matCellDef="let subscription">
      <div *ngIf="!subscription.notification" class="no-notification">
        <mat-icon class="no-notification-icon">notifications_off</mat-icon>
        <span class="no-notification-text">Aucune notification</span>
      </div>
      <div *ngIf="subscription.notification">
        {{subscription.notification}}
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let subscription">
      <button mat-icon-button color="warn" (click)="cancelSubscription(subscription.id)"
              [disabled]="subscription.isConfirmed" matTooltip="Annuler l'abonnement">
        <mat-icon>cancel</mat-icon>
      </button>
      <button mat-icon-button color="accent" (click)="showHistory(subscription.id)" matTooltip="Historique">
        <mat-icon>history</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
