<div class="header-section">
  <img src="/assets/pictures/header_event.jpg" alt="Header Image" class="header-image">
  <div class="header-content">
    <h1>JOIN OUR EXCITING UPCOMING  <span style="color: #D8FFB3">EVENTS</span></h1>
  </div>
</div>




<div class="coworking-section mat-elevation-z3">
  <div class="row content">
    <div class="col-md-6 text-left fst-italic">
      <p class="top-text">Our spaces are designed for productivity and comfort, ensuring you find the perfect environment to work efficiently.</p>
    </div>
    <div class="col-md-6 image-right">
      <img src="/assets/pictures/space_intro.jpg" alt="Coworking space" class="img-fluid">
    </div>
  </div>
  <div class="bottom-text">
    <p><span class="highlight">Explore</span> our diverse coworking spaces tailored to meet your needs, whether you seek a quiet spot to focus or a collaborative area to brainstorm</p>
  </div>
</div>


<app-footer></app-footer>
