<h2 mat-dialog-title>Réservations d'espaces pour événements</h2>
<mat-dialog-content>
  <table mat-table [dataSource]="reservations" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nom de l'événement </th>
      <td mat-cell *matCellDef="let reservation"> {{reservation.nameEvent}} </td>
    </ng-container>

    <ng-container matColumnDef="picture">
      <th mat-header-cell *matHeaderCellDef> Photo </th>
      <td mat-cell *matCellDef="let reservation">
        <img [src]="reservation.picture" alt="User" class="user-picture">
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let reservation"> {{reservation.date | date:'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Statut </th>
      <td mat-cell *matCellDef="let reservation">
        <mat-icon *ngIf="reservation.isConfirmed" color="primary" matTooltip="Confirmé">check_circle</mat-icon>
        <mat-icon *ngIf="!reservation.isConfirmed" color="warn" matTooltip="En attente">schedule</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let reservation">
        <button mat-icon-button color="warn" (click)="cancelReservation(reservation.id)" [disabled]="reservation.isConfirmed" matTooltip="Annuler la réservation">
          <mat-icon>cancel</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>
