<mat-sidenav-container class="sidenav-container">
  <mat-sidenav style="background-color: #e1e1e1" #sidenav [mode]="isScreenSmall ? 'over' : 'side'" [(opened)]="!isScreenSmall || sidenavOpen">

    <div class="user-view p-4 text-center text-white bg-black">
      <div class="background">
        <mat-icon class="background-icon">landscape</mat-icon>
      </div>
      <mat-icon class="user-icon">account_circle</mat-icon>
      <h6>{{ adminName }}</h6>
    </div>
    <mat-nav-list>
      <a mat-list-item  *ngFor="let item of menuItems" [routerLink]="item.link" routerLinkActive="active" (click)="closeSidenavOnMobile(sidenav)">
        <div class="d-flex align-items-center justify-content-start gap-3">
          <div><mat-icon>{{item.icon}}</mat-icon></div>
          <div>{{item.text}}</div>
        </div>
      </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item (click)="logout(); closeSidenavOnMobile(sidenav)">
        <div class="d-flex align-items-center justify-content-start gap-3">
          <div><mat-icon class="mr-3">exit_to_app</mat-icon></div>
          <div>Logout</div>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenu principal -->
  <mat-sidenav-content>
    <mat-toolbar style="background-color: black" class="d-flex align-items-center justify-content-center mat-elevation-z6" >
      <button style="color: white" mat-icon-button (click)="sidenav.toggle()" *ngIf="isScreenSmall">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="assets/pictures/logoFooter.png" alt="Logo Get Inspired" class="logo" height="50" width="50"/>
      <span class="title">Get Inspired - Admin Panel</span>
    </mat-toolbar>
    <div class="container-fluid p-4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
