.signup-container {
  height: 100vh;
  overflow-y: auto;
  background-color: #f8f9fa;
}

.row {
  min-height: 100%;
}

.left-section {
  background-color: #ffffff;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.right-section {
  background-image: url("/assets/pictures/openWorkSpace.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  padding: 2rem;
}

.logo {
  width: 150px;
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #333;
}

p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 2rem;
}

.sign-up-container {
  background-color: rgba(0, 0, 0, 0.56);
  color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  max-width: 450px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mat-form-field {
  width: 100%;
  margin-bottom: 1.5rem;
}

.signup-button {
  width: 100%;
  color: #fff;
  background-color: #008dff;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1rem;
  transition: background-color 0.4s ease;
}

.signup-button:hover {
  background-color: #0061b8;
}

.success-message {
  color: #2eae00;
  margin-bottom: 1rem;
}

.error-message {
  color: red;
  margin-bottom: 1rem;
}

.login {
  margin-top: 1.5rem;
  font-size: 0.9rem;
}

.text-primary {
  color: #007bff;
  cursor: pointer;
}

.text-primary:hover {
  text-decoration: underline;
}

.home-button {
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.home-button:hover {
  background-color: rgb(99, 91, 91);
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.home-button:active {
  transform: translateY(2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
  .signup-container {
    height: auto;
  }

  .row {
    flex-direction: column;
  }

  .left-section, .right-section {
    min-height: 100vh;
    justify-content: center;
  }

  .sign-up-container {
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .left-section, .right-section {
    padding: 1rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  .home-button, .signup-button {
    font-size: 1rem;
    padding: 10px 16px;
  }
}
