<div class="header-section">
  <img src="/assets/pictures/header_home.jpg" alt="Header Image" class="header-image">
  <div class="header-content">
    <h1>BOOST YOUR <span style="color: #D8FFB3">PRODUCTIVITY</span></h1>
    <a href="#" class="btn-read-more">
      Read More
      <svg fill="#ffffff" width="30px" height="30px" viewBox="0 0 24 24" id="double-down-sign" data-name="Flat Line" xmlns="http://www.w3.org/2000/svg" class="icon flat-line" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><polyline id="primary" points="21 5 12 10 3 5" style="fill: none; stroke: #ffffff; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polyline><polyline id="primary-2" data-name="primary" points="21 14 12 19 3 14" style="fill: none; stroke: #ffffff; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polyline></g></svg>
    </a>
  </div>
</div>
