<div class="header-section">
  <img src="/assets/pictures/header_home.jpg" alt="Header Image" class="header-image">
  <div class="header-content">
    <h1>BOOST YOUR <span style="color: #D8FFB3">PRODUCTIVITY</span></h1>
    <a href="#" class="btn-read-more">
      Read More
      <svg fill="#ffffff" width="30px" height="30px" viewBox="0 0 24 24" id="double-down-sign" data-name="Flat Line" xmlns="http://www.w3.org/2000/svg" class="icon flat-line" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><polyline id="primary" points="21 5 12 10 3 5" style="fill: none; stroke: #ffffff; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polyline><polyline id="primary-2" data-name="primary" points="21 14 12 19 3 14" style="fill: none; stroke: #ffffff; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></polyline></g></svg>
    </a>
  </div>
</div>

<!-- //////////////////////////////////////////////////////////////////////////// -->
<div class="custom-card-section container">
  <div class="row">
    <div class="col-md-3">
      <mat-card class="custom-card with-bg">
        <img mat-card-image src="/assets/pictures/privateOffice.jpg" alt="Photo 1">
        <mat-card-content>
          <h5 class="custom-card-title">Private Office</h5>
          <p class="custom-card-description">A private office for focused and confidential work.</p>
          <p class="custom-card-price">From $20.00/DAY</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-3">
      <mat-card class="custom-card">
        <img mat-card-image src="/assets/pictures/conferenceRoom.jpg" alt="Photo 2">
        <mat-card-content>
          <h5 class="custom-card-title">Conference Room</h5>
          <p class="custom-card-description">A fully-equipped room for presentations and team meetings.</p>
          <p class="custom-card-price">From $30.00/DAY</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-3">
      <mat-card class="custom-card with-bg">
        <img mat-card-image src="/assets/pictures/openWorkSpace.jpg" alt="Photo 3">
        <mat-card-content>
          <h5 class="custom-card-title">Open Workspace</h5>
          <p class="custom-card-description">A bright and open space, perfect for collaboration and idea-sharing.</p>
          <p class="custom-card-price">From $15.00/DAY</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-md-3">
      <mat-card class="custom-card">
        <img mat-card-image src="/assets/pictures/loungeArea.jpg" alt="Photo 4">
        <mat-card-content>
          <h5 class="custom-card-title">Lounge Area</h5>
          <p class="custom-card-description">A relaxed space for unwinding or informal discussions.</p>
          <p class="custom-card-price">From $15.00/DAY</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!-- //////////////////////////////////////////////////////////////////////////// -->

<div class="inspiration-section">
    <div class="title">Get Inspired</div>
    <div class="subtitle">Pick your favorite space</div>
    <div class="description">Explore our available coworking spaces and book now by clicking here.</div>
  <button mat-raised-button color="primary" class="view-more-btn">
    <div class="button-content">
      <span>View More</span>
      <svg class="icon-right" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 330 330" fill="currentColor" stroke="currentColor">
        <path d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001 c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213 C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606 C255,161.018,253.42,157.202,250.606,154.389z"></path>
      </svg>
    </div>
  </button>
</div>
